
// NAV BAR //
$blue: #1565c0;
$orange: #f57c00;
$white: #fafafa;
$black:#000000;

//

$back-shadow-100: lighten(#000000,99%);
$back-shadow-200:lighten(#000000,98%);
$back-shadow-300:lighten(#000000,97%);
$back-shadow-400:lighten(#000000,96%);
$back-shadow-500:lighten(#000000,95%);
$back-shadow-600:lighten(#000000,94%);
$back-shadow-700: lighten(#000000,93%);
$back-shadow-800:lighten(#000000,92%);
$back-shadow-900:lighten(#000000,91%);
$back-shadow-1000:lighten(#000000,90%);
$back-shadow-1100: lighten(#000000,89%);
$back-shadow-1200:lighten(#000000,88%);
$back-shadow-1300:lighten(#000000,87%);
$back-shadow-1400:lighten(#000000,86%);
$back-shadow-1500:lighten(#000000,85%);
$back-shadow-1600:lighten(#000000,84%);
$back-shadow-1700: lighten(#000000,83%);
$back-shadow-1800:lighten(#000000,82%);
$back-shadow-1900:lighten(#000000,81%);
$back-shadow-2000:lighten(#000000,80%);


//////////////////