@use '../../styles/Global/BreakPoints.scss' as *;

.home {
    height: 100vh;
    .holder{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
        margin-block: 5vh;
        background-color: transparent;
        @include media(sm){
            flex-direction: row;
        }
    }


    .canvas{
       width: 100%;
       height: 40rem !important; 
       background-color: transparent;
       transition: .2s;
        @include media(sm){
            height: 100% !important;
            width: 50% !important;
        }
    }

   .info{
       @include media(sm){
           width: 50%;
           margin-top: 7rem;
       }
    .title{
        font-size: 7rem;
        font-weight: 700;
        @include media(sm){
            font-size: 13rem;
        }
    }
    .subtitle{
        font-size: 4rem;
        font-weight: 300;
    }
   }
    
}