@use '../../styles/Global/BreakPoints.scss' as * ;


.contact{
    background-color: white;
    height: 10rem;

    .cta{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
        @include media(sm){
            flex-direction: row;
        }
        button{ 
            border-radius: 5rem;
            font-weight: 700;
            padding: 1rem;
           
          
            @include media(sm){
                font-size: 5rem;
            }
        }
    }

    .inTouch{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        .title{
            font-size: 3rem;
            font-weight: 700;
            @include media(sm){
                font-size: 8rem;
            }
        }
        .subtitle{
            font-size: 1rem;
            text-align: center;
        }

        button{
            border-radius: 10rem;
            padding: 1rem;
            font-weight: 200;
            @include media(sm){
                font-size: 4rem;
            }
        }
    }

    button{
        border: 1px solid black;
        background-color: black;
        transition: .2s;
        a{
            color: white;
        }
        &:hover{
            border: 1px solid black;
            background-color: white;
            &:hover{
                cursor: pointer;
            }
            a{
                color: black;
            }
        }
    }
}